body {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    max-height: 1622px;
    display: flex;
    width: 100%;
}

.wrapper-left {
    float: left;
    margin: 0 auto;
    width: 310px;
    background: rgba(251, 251, 251, 1);
    margin-top: 170px;
    margin-left: 134px;
}
.sale-banner {
    width: 310px;
    height: 490px;
    background: linear-gradient(180deg, rgba(70, 163, 88, 0.1) 0%, rgba(70, 163, 88, 0.03) 100%);
    text-align: center;
    margin-top: 355px;
}
.sale-header img {
    width: 100%;
    max-height: 90px;
    object-fit: contain;
}
.sale-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.sale-image img {
    width: 330px;
    height: 330px;
    object-fit: cover;
    align-content: center;
}

.wrapper-right {
    float: right;
    margin: 0 auto;
    max-width: 840px;
    max-height: 1244px;
    margin-top: 170px;
    margin-right: 104px;
}

.sidebar h3 {
    padding-left: 18px;
}
.sidebar ul {
    list-style: none;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    height: 360px;
    justify-content: space-evenly;
}

.sidebar ul li a {
    text-decoration: none;
    color: rgba(61, 61, 61, 1);
}
.sidebar ul li a.active {
    color: rgba(70, 163, 88, 1);
}
.filter-nav {
    max-width: 838px;
    height: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.nav-left a {
    text-decoration: none;
    margin-right: 30px;
    color: rgba(61, 61, 61, 1);
}
.nav-left a.active {
    color: rgba(70, 163, 88, 1);
    padding-bottom: 6px;
    border-bottom: 2px solid rgba(70, 163, 88, 1);
}

.nav-right a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    color: #333;
}
.nav-right img {
    width: 14px;
    height: 14px;
    margin-left: 4px;
}

.product-list {
    width: 100%;
    height: 100%;
    max-width: 840px;
    max-height: 1244px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.float-block, .float-block-active {
    position: relative;
    width: 258px;
    height: 300px;
    float: left;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: rgba(251, 251, 251, 1);
    margin-bottom: 20px;
}

.float-block-active::before {
    content: "";
    position: absolute;
    top: 0;
    width: 258px;
    height: 1px;
    background: rgba(70, 163, 88, 1);
}

.card-wrapper {
    width: 258px;
    height: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 25px;
}

.img-card {
    width: 250px;
    height: 250px;
    display: inline-block;
}
.discount-badge {
    max-width: 80px;
    max-height: 28px;
    top:-14px;
    left: 0;
    position: absolute;
    background: rgba(70, 163, 88, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    padding: 6px 8px;
}

.card-info {
    width: 100%;
    padding-top: 26px;
    text-align: left;
}

.card-info h5 {
    color: rgba(61, 61, 61, 1);
    font-size: 16px;
    margin-bottom: 6px;
}

.card-info p {
    font-size: 18px;
    color: rgba(70, 163, 88, 1);
    font-weight: bold;
    margin: 0;
}

.card-info p del {
    margin-left: 16px;
    font-size: 18px;
    color: rgba(165, 165, 165, 1);
}

.pagination {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgba(229, 229, 229, 1);
    border-radius: 4px;
    margin-top: 90px;
    margin-bottom: 82px;
    color: rgba(61, 61, 61, 1);
}

.pagination a:hover {
    background: #f0f0f0;
}

.pagination a.active {
    background: rgba(70, 163, 88, 1);
    color: rgba(255, 255, 255, 1);
}

.pagination a.other {
    background: transparent;
}

.pagination a.other img {
    width: 20px;
    height: 20px;
}
.buttons {
    position: absolute;
    left: 66px;
    bottom: 6px;
    width: 128px;
    height: 34px;
    display: flex;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
}
.buttons button {
    background: rgba(255, 255, 255, 1);
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
}
.buttons img {
    width: 20px;
    height: 20px;
}
.float-block-active:hover .buttons {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.float-block:hover .buttons {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}